body { background-color: #141414; color: white; font-family: sans-serif; margin: 0; display: flex; }
#sidebar { width: 250px; background: black; height: 100vh; padding: 20px; position: fixed; }
#sidebar .logo { color: #E50914; font-size: 30px; font-weight: bold; margin-bottom: 40px; }
#sidebar ul { list-style: none; padding: 0; }
#sidebar li { margin: 20px 0; }
#sidebar a { color: #b3b3b3; text-decoration: none; font-size: 20px; padding: 10px; display: block; border-radius: 5px; }

/* TURKUAZ ODAK ÇERÇEVESİ */
#sidebar a:focus, .site-card:focus { 
    outline: 4px solid #00e0ff !important; 
    color: white; 
    background: #333; 
    transform: scale(1.05);
    transition: 0.2s;
}

#main-content { margin-left: 250px; padding: 50px; width: 100%; }
#hero { height: 300px; background: linear-gradient(to bottom, transparent, #141414), url('https://via.placeholder.com/1000x300'); border-radius: 15px; display: flex; align-items: flex-end; padding: 20px; }
.site-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 30px; margin-top: 40px; }
.site-card { background: #2f2f2f; border-radius: 10px; text-decoration: none; color: white; overflow: hidden; }
.card-image { height: 150px; background-size: cover; }
.card-title { padding: 15px; font-weight: bold; text-align: center; }
